SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_APP_URL=https://parservo-app.vercel.app
DATABASE_URL=postgresql://USER:PASSWORD@HOST:5432/postgres
SCOPES=read_products,write_products,read_inventory,write_inventory,read_locations,read_metaobjects,read_metaobject_definitions,write_metaobjects,write_metaobject_definitions
NODE_ENV=production
